<form clrForm [formGroup]="contactFormGroup" class="content">
    <clr-input-container *ngIf="!isNewContact" >
      <label>ID</label>
      <input clrInput type="text" name="id" [ngModel]="currentContact.id" [ngModelOptions]="{standalone: true}" disabled/>
    </clr-input-container>
    <clr-input-container>
      <label>Name</label>
      <input clrInput type="text" name="name" formControlName="name"/>
    </clr-input-container>
    <clr-control-container>
        <label>Type</label>
        <select clrControl formControlName="type">
            <option *ngFor="let type of contactTypes" [value]="type">{{type | contactTypeLabel}}</option>
        </select> 
    </clr-control-container>
    <div class="clr-row clr-justify-content-end edit-button-group">
      <button class="btn" (click)="navigateBack()">Cancel</button>
      <button class="btn btn-primary" (click)="onSaveClick()">Save</button>
    </div>
</form>
