.page {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.content {
    max-width: 800px;
}

.padding-x {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-y {
    padding-top: 1em;
    padding-top: 1em;
}